@import '../common';

.navbar {
  height: 4.375rem;
  box-shadow: 0 1px 4px #bbb;
  margin-bottom: 1em;
  position: relative;
  .logo {
    position: absolute;
    left: 1.3125em; top: 0;
    padding: 0.75em;
    height: 100%;
    box-sizing: border-box;
    img {
      height: 100%;
    }
  }
}
