@import '../common';

.hero {
  background-color: $bgColor;
  .intro {
  	box-sizing: border-box;
  	padding: 2em 0;
  	img {
  		display: block;
  		margin: 0 auto;
  	}
		.subtitle {
			width: 12.125rem;
			margin-bottom: -1rem;
		}
		.title {
			width: 14.5rem;
			margin-bottom: 1.5rem;
		}
		p {
			color: #898989;
			text-align: center;
			font-size: 0.9rem;
			font-weight: 200;
			line-height: 0.8em;
			letter-spacing: -0.025em;
		}
  }
  .satellite-wrapper {
  	background: #000;
  }
 	.satellite {
 		position: relative;
 		width: 100%;
 		height: 56.75vw;
 		background-image: url('../../../assets/satellite-of-love.jpg');
 		background-position: center center;
 		background-size: contain;
 		background-repeat: no-repeat;
 	}
}

@media (max-width: 600px) {
	.hero .satellite {
		height: 35vh;
	}
}
